body {
  margin: 0;
  /*opacity: 0.2;
  filter: alpha(opacity=20);*/ /* For IE8 and earlier */
  background: url('../img/tree-faded.jpg') no-repeat left top;
  background-size: cover;
}

footer {
	background-color: #8C8096;
	color: white;
	font-style: bold;
	text-align: center;
}

nav {
	background-color: #8C8096;
	color: white;
	font-style: bold;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
	display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.left {
    float: left;
}

/*.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}*/

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reveal-if-active label {
  display: block;
  margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
  width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}

input[type="radio"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;  /*little bit of a magic number :(*/ 
  overflow: visible;
}

form  { 
    display: table;
}
form p.form-align {
    display: table-row;
}
form label.form-align { 
    display: table-cell;
}
form input.form-align { 
    display: table-cell; 
}