body {
  margin: 0;
  /*opacity: 0.2;
  filter: alpha(opacity=20);*/ /* For IE8 and earlier */
  background: url('../img/tree-faded.jpg') no-repeat left top;
  background-size: cover;
}

footer {
	background-color: #8C8096;
	color: white;
	font-style: bold;
	text-align: center;
}

nav {
	background-color: #8C8096;
	color: white;
	font-style: bold;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.container {
	margin-top: 58px;
}

textarea {
	vertical-align: top;
}

.left {
    float: left;
}

.float-clear {
	float: clear;
}

/*.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}*/

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reveal-if-active label {
  display: block;
  margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
  width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}

input[type="radio"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;  /*little bit of a magic number :(*/ 
  overflow: visible;
}

form  { 
    display: table;
}
form p.form-align {
    display: table-row;
}
form label.form-align { 
    display: table-cell;
}
form input.form-align { 
    display: table-cell; 
}

.txt-block {
	font-size: 1.2em;
	display: table;
	text-align: left;
    margin: 0px auto 0px auto;
    padding: 5px;
	background-color: #8C8096;
	opacity: 0.8;
	color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}