footer {
	background-color: #8C8096;
	color: white;
	font-style: bold;
	text-align: center;
}

nav {
	background-color: #8C8096;
	color: white;
	font-style: bold;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
	display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}